<h1>New Network</h1>
<br><br><br>
<link rel="stylesheet" href="/newEdit.css">
<img class="editnetwork" src="https://media.giphy.com/media/3o7aDd4hAEcciOzcVW/giphy.gif" width = 100px onload="this.style.left='50%'">
<br>
<br>
<%= render 'form', network: @network %>

<%= link_to 'Back', networks_path %>
<br>
<br><br><br><br><br>
